# Ignore all .env and *.env files recursively
**/.env
**/*.env

# Ignore all .json files recursively
**/*.json

# Ignore all .duckdb files recursively
**/*.duckdb

# Ignore .venv directory in root
.venv/

# Ignore contents of myconfig folder in root
/myconfig/*


**/*.csv